*.hcl
*.exe
*.tfstate
modules.json
**\.terraform\**
**/.terraform/**
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
C:\Code\cleardemo\infra\manifests\app_services\.terraform\**